<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">

    <div class="position-sticky pt-3">

        <ul class="nav flex-column">


            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    Inicio
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    Noticias
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    Eventos
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    Galería
                </a>
            </li>


        </ul>

    </div>

</div>